%p Just so I can get this off my hard drive and onto someone else's, and because it's funny as hell, I'm posting a conversation I had with a good friend of mine many years ago:

%dl
  %dt
    me
  %dd
    what's up homey g dog skillet?
  %dt
    friend
  %dd
    chillin like a villian yo bout to go get so fresh and so clean cause i got sum of that X and my hoe is cumin over
  %dt
    me
  %dd
    *throws up da apc gang sign* dat's kewl, yo... how was da green makin dis fine day?
  %dt
    friend
  %dd
    pretty whack yo, i was str8 bout to drop out till lunch time then i took a nizzzappp and felt like 100 bucks
    rest of the day was slower than momma's drivin on the freeway
    B-)
  %dt
    me
  %dd
    damn yo.. sounds like a dog day in da hizzouse... any hot momma's on da way home?
  %dt
    friend
  %dd
    ya i got my hoe from a different area code on her way over, we gonna do a lil somethin somethin u na mean?
  %dt
    me
  %dd
    bling bling... betta make sho yo crib ain't throwed or nuffin... dose hoes dig a clean dude
  %dt
    friend
  %dd
    u no i keep my shit locked down 24/7 yo
  %dt
    me
  %dd
    alright, that shits hard to keep up
  %dt
    friend
  %dd
    lol
  %dt
    me
  %dd
    gotta wonder how dey do it all da time
  %dt
    friend
  %dd
    that was good
  %dt
    me
  %dd
    lol
  %dt
    friend
  %dd
    imma save this
  %dt
    me
  %dd
    no shit
    i was thinkin the same thing
    show it to a brutha, see how good we were
  %dt
    friend
  %dd
    lol
    oh boy