%h1 chinese proverbs
%ul
  %li
    Virginity like bubble, one prick, all gone.
  %li
    Man who run in front of car get tired.
  %li
    Man who run behind car get exhausted.
  %li
    Man with hand in pocket feel cocky all day.
  %li
    Foolish man give wife grand piano, wise man give wife upright organ.
  %li
    Man who walk through airport turnstile sideways going to Bangkok.
  %li
    Man with one chopstick go hungry.
  %li
    Man who scratch ass should not bite fingernails.
  %li
    Man who eat many prunes get good run for money.
  %li
    Baseball is wrong: man with four balls cannot walk.
  %li
    Panties not best thing on earth! but next to best thing on earth.
  %li
    War does not determine who is right, war determine who is left.
  %li
    Wife who put husband in doghouse soon find him in cat house.
  %li
    Man who fight with wife all day get no peace at night.
  %li
    It take many nails to build crib, but one screw to fill it.
  %li
    Man who drive like hell, bound to get there.
  %li
    Man who stand on toilet is high on pot.
  %li
    Man who live in glass house should change clothes in basement.
  %li
    Man who fish in other man's well often catch crabs.
  %li
    Man who fart in church sit in own pew.
  %li
    Crowded elevator smell different to midget.
