%h1 the drinking game
%ul
  %li
    2 - YOU
  %li
    3 - ME
  %li
    4 - WHORES
  %li
    5 - TOUCH THE SKY
  %li
    6 - DICKS
  %li
    7 - THUMBMASTER
  %li
    8 - DON'T BE LATE
  %li
    9 - BUST A RHYME
  %li
    T - AGAIN
  %li
    J - BACK
  %li
    Q - CATEGORIES
  %li
    K - WATERFALL/SOCIAL
  %li
    A - RULEMASTER