%h2 food
%ul
  %li
    I am single handedly trying to free the world of hunger, starting with myself.
  %li
    Hunger has driven man to insanity; today it has driven me from my computer.
  %li
    If you were food........ I'd be eating you right now.
  %li
    Statistics say those who eat live longer than those who don't, so I am eating right now.
  %li
    My mother told me never to type with my mouth full.
  %li
    Leave me alone, so what if I masticate all the time. It's natural.
  %li
    Don't bother me..... I'm eating
  %li
    I am not here right now but please leave a message after the burp B....U....R....P!

%h2 sleep
%ul
  %li
    I am always confused when people ask me did you sleep good? I always wonder if they want me to say no, I made a few mistakes.
  %li
    I can't be with you, So all I will do is sleep. Please don't wake me up from this dream, For it's all of you that I can keep...
  %li
    As I lay in my bed looking at the sky I thought "Were the heck did my ceiling go?"
  %li
    Last night I dreamt I ate a 10lb marshmallow and when I woke up my pillow was gone... still dreaming, try me later.
  %li
    I lost my teddy bear ... can I sleep with you?
  %li
    I was dreaming until you im'ed me.... Then... My dreams turned into nightmares
  %li
    I'm scared; can I get in your bed ;-)?
  %li
    Give me a good reason why I shouldn't be asleep and then give me a good reason why I shouldn't hit you with a stick
  %li
    Sorry, I've got a date with my pillow.
  %li
    I'm cold; will you keep me warm tonight? ;)
  %li
    Sleep is the thing you complain about getting too much of when you are little and not enough when you get older.
  %li
    It's early. Talk SLOWLY and use SMALLER words
  %li
    Sleeping with you...I-I mean my blanket! Woops...You can tell I'm tired.
  %li
    Sleep important is. If sleep don't u, function right u won't. So sleep now gonna I'm. Night Good!! :-)
%h2 funny
%ul
  %li
    Jack and Jill went up the hill to fetch some Marijuana. Jack got high and dropped his fly and said do you wanna? Jill said yes and dropped her dress and then they had some fun. Silly Jill forgot her pill and then they had a son.
  %li
    You know what pisses me off? People who point at the wrist when asking the time, i know where my watch is buddy where they fuck is yours? I mean do I point at my crotch when I ask where the bathroom is??
  %li
    I am not currently available right now. However, if you would like to be transferred to another correspondent, please press the number that best fits your personality:
    %ul
      %li
        If you are obsessive compulsive, please press "1" repeatedly.
      %li
        If you are codependent, please ask someone to press "2".
      %li
        If you have multiple personalities, please press "3", "4", and "5".
      %li
        If you are paranoid delusional, we know who you are and what you want. Just stay on the line so we can trace your call.
      %li
        If you are schizophrenic, listen carefully and the little voice will tell you which number to press.
      %li
        If you are manic depressive, it doesn't matter what number you press, no one will answer.
  %li
    Checking away messages. It's like stalking, but no one knows you are doing it. I even have people's names on my buddy list that I don't know, but I hear they have really good away messages. Some people really put there all into away messages. There are the people who document their every move: "I am taking a shower, but when I get out, I am going to pee, shave, and then iron my pants. Call me if you need me before I go to the mall at 2pm." Then there's the creative one: "I am away from my computer right now." And of course there's that one from the really cool guy: "Yo it's Friday night, I am drunk, and not sittin up lookin at away messages" Funny how that guy never seems to go idle.
  %li
    Are you aware of the discovery in the human body of a nerve that connects the eyeball to the asshole? It is called the anal optic nerve. It is responsible for giving people a shitty outlook on life. If you don't believe me, pull a hair from your ass and see if it doesn't bring a tear to your eye.
  %li
    How can you keep an idiot busy? Click Here to find out...
  %li
    I ran into my ex the other day, then I put the car in reverse and ran over him again.
  %li
    His AE shirt ... $35, his A&amp;F shorts ... $48, his GAP boxers ... $12, his Adidas sandals ... $20. All these items on your floor . . . priceless.
  %li
    If you are a hooker, I already sent the money. If you are my parents, please send money. If you are my financial aid institution, you didn't lend me enough money. If you are my friends, you owe me money. If you are a guy, don't worry, I have plenty of money.
  %li
    Never argue w/ an idiot. They drag you down to their level and beat you with experience. Never argue w/ me, I'll drag you down to my level and beat you with a bat.
  %li
    I'm not here right now, but if you'd like to reach me on my cell phone... buy me a cell phone.
  %li
    People are more violently opposed to fur than leather because it's safer to harass rich women than motorcycle gangs.
  %li
    If you want me to fall for you, you better get something for me to trip over.
  %li
    Having a staring contest with my wall... *BLINK* "dammit!!!!!"
  %li
    The first time I was chatting with someone online, they asked me "asl" I tried to sound it out and got really ticked of and started warning them because I thought they were calling me an asshole.
  %li
    You are probably doing one of these two things: 1. You think you are slick by checking my profile to see what my away message is, so you don't have to IM me and look stupid. -or- 2. You are looking stupid because there is a little yellow post-it right next to my name, and yet you still IM me.(With the exception that I was talking to you before and now you are answering me, and in that case you are SLOW!)
  %li
    You're not drunk if you can lay on the floor with out holding on...
  %li
    Are you mad at me? If not, press Alt+F4.
  %li
    668-9911.......... that's the # to my eye doctor's office, because you can't see the YELLOW note pad in front of my s/n.