%h1 about me
%p My name is Aaron and I am currently living in The Bay Area. I still have no clue what I want to be when I grow up, but who ever does.

%a.twitter-follow-button{:href => "https://twitter.com/amdtech", "data-show-count" => "false", "data-size" => "large", :rel => 'me'} Follow @amdtech

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
