%h2 what's out there
%p This page is the starting page for my jokes section. These are various jokes that I've received and sent over the years, and decided to compile onto my web site for easy access.
%h2 always up for additions
%p I'm always up for new stuff, so if you have any jokes you like and want to see posted, shoot me a message and let me know.
%h2 be respectful
%p
  %strong Don't Steal.
%h2 the jokes
%ul
  %li
    %a{:href => "circle-of-death"}
      circle of death
  %li
    %a{:href => "funny-aways"}
      funny aways
  %li
    %a{:href => "bed-or-cake"}
      bed or cake?
  %li
    %a{:href => "sleeping-at-work"}
      sleeping at work?
  %li
    %a{:href => "bling-bling"}
      bling bling
  %li
    %a{:href => "chinese-proverbs"}
      chinese proverbs
  %li
    %a{:href => "spot-a-raver"}
      spot a raver
  %li
    %a{:href => "lifesavers"}
      lifesavers
  %li
    %a{:href => "living-in-houston"}
      living in houston
  %li
    %a{:href => "the-emergency-room"}
      the emergency room
  %li
    %a{:href => "gm-and-technology"}
      gm and technology
  %li
    %a{:href => "women-and-their-words"}
      women and their words