%h1 rules to live by while living in houston
%ul
  %li
    You must learn to pronounce the city name. It is Ewe-stun, not Huestun.
  %li
    Forget the traffic rules you learned elsewhere. Houston has its own version of traffic rules... Hold on and pray. There is no such thing as a dangerous high-speed chase in Houston. They all drive like that.
  %li
    All directions start with, "Go down to Loop 610" .... which has no beginning and no end.
  %li
    The Chamber of Commerce calls getting through traffic... a "Scenic Drive."
  %li
    The morning rush hour is from 6:00 to 10:00. The evening rush hour is from 3:00 to 7:00. Friday's rush hour starts Thursday morning.
  %li
    If you actually stop at a yellow light, you will be rear-ended, cussed out and possibly shot. When you are the first one off the starting line, count to five when the light turns green before going, to avoid getting into any cross-traffic's way.
  %li
    Kuykendahl Road can ONLY be pronounced by a native.
  %li
    Construction on I-10, I-45, US 59 and Loop 610 is a way of life and a permanent form of entertainment.
  %li
    All unexplained sights are explained by the phrase, "Oh, we must be in Pasadena!!!."
  %li
    If someone actually has their turn signal on, it is probably a factory defect.
  %li
    All old ladies with blue hair in a pink Cadillac have total right-of-way.
  %li
    The minimum acceptable speed on Loop 610 is 85. Anything less is considered downright sissy.
  %li
    The wrought iron on windows in east Houston is NOT ornamental.
  %li
    Never stare at the driver of the car with the bumper sticker that says, "Keep honking, I'm reloading." In fact, don't honk at anyone.
  %li
    If you are in the left lane, and only going 70 in a 60 mph zone, people are not waving when they go by.
  %li
    The Sam Houston Toll road is our daily version of NASCAR.
  %li
    If it's 100 degrees, Thanksgiving must be next weekend.
  %li
    When in doubt, remember that all unmarked exits lead to Louisiana.
  %li
    You don't have to wait for an exit to get off a freeway, just follow the ruts in the grass to the frontage road like everyone else. This is how Houston residents notify TxDOT where exits should have been built.