%h2 your birth month and you
%p Find your birthmonth below, and the words below should describe you.

.row
  .span4
    %h3 january
    %ul
      %li
        Ambitious and serious
      %li
        Loves to teach and be taught
      %li
        Always looking at people's flaws and weaknesses
      %li
        Likes to criticize
      %li
        Hardworking and productive
      %li
        Smart, neat, and organized
      %li
        Sensitive and has deep thoughts
      %li
        Knows how to make others happy
      %li
        Quiet unless excited or tensed
      %li
        Rather reserved
      %li
        Highly attentive
      %li
        Resistant to illnesses but prone to colds
      %li
        Romantic but has difficulties expressing love
      %li
        Loves children
      %li
        Homely person
      %li
        Loyal
      %li
        Needs to improve social abilities
      %li
        Easily jealous
      %li
        Very Stubborn

  .span4
    %h3 february
    %ul
      %li
        Abstract thoughts
      %li
        Loves reality and abstract
      %li
        Intelligent and clever
      %li
        Changing personality
      %li
        Temperamental
      %li
        Quiet, shy and humble
      %li
        Low self esteem
      %li
        Honest and loyal
      %li
        Determined to reach goals
      %li
        Loves freedom
      %li
        Rebellious when restricted
      %li
        Loves aggressiveness
      %li
        Too sensitive and easily hurt
      %li
        Showing anger easily
      %li
        Dislike unnecessary things
      %li
        Loves making friends but rarely shows it
      %li
        Daring and stubborn
      %li
        Ambitious
      %li
        Realizing dreams and hopes
      %li
        Sharp
      %li
        Loves entertainment and leisure
      %li
        Romantic on the inside, not the outside
      %li
        Superstititious and ludicrous
      %li
        Spendthrift
      %li
        Learns to show emotions

  .span4
    %h3 march
    %ul
      %li
        Attractive personality
      %li
        Affectionate
      %li
        Shy and reserved
      %li
        Secretive
      %li
        Naturally honest, generous and sympathetic
      %li
        Loves peace and serenity
      %li
        Sensitive to others
      %li
        Loves to serve others
      %li
        Not easily angered
      %li
        Trustworthy
      %li
        Appreciative and returns kindness
      %li
        Observant and assesses others
      %li
        Revengeful
      %li
        Loves to dream and fantasize
      %li
        Loves traveling
      %li
        Loves attention
      %li
        Hasty decisions in choosing partners
      %li
        Loves home decors
      %li
        Musically talented
      %li
        Loves special things
      %li
        Moody

%hr/

.row
  .span4
    %h3 april
    %ul
      %li
        Active and dynamic
      %li
        Decisive and hasty but tends to regret
      %li
        Attractive and affectionate to oneself
      %li
        Strong mentality
      %li
        Loves attention
      %li
        Diplomatic
      %li
        Consoling
      %li
        Friendly and solves people's problems
      %li
        Brave and fearless
      %li
        Adventurous
      %li
        Loving and caring
      %li
        Suave and generous
      %li
        Emotional
      %li
        Aggressive
      %li
        Hasty
      %li
        Good memory
      %li
        Moving
      %li
        Motivate oneself and others
      %li
        Sickness usually of the head and chest

  .span4
    %h3 may
    %ul
      %li
        Stubborn and hard-hearted
      %li
        Strong-willed and highly motivated
      %li
        Sharp thoughts
      %li
        Easily angered
      %li
        Attracts others and loves attention
      %li
        Deep feelings
      %li
        Beautiful physically and mentally
      %li
        Firm standpoint
      %li
        Needs no motivation
      %li
        Easily consoled
      %li
        Systematic (left brain)
      %li
        Loves to dream
      %li
        Strong clairvoyance
      %li
        Understanding
      %li
        Sickness usually in the ear and neck
      %li
        Good imagination
      %li
        Good physical
      %li
        Weak breathing
      %li
        Loves literature and the arts
      %li
        Loves traveling
      %li
        Dislikes being at home
      %li
        Restless
      %li
        Not having many children
      %li
        Hardworking
      %li
        High spirited
      %li
        Spendthrift

  .span4
    %h3 june
    %ul
      %li
        Thinks far with vision
      %li
        Easily influenced by kindness
      %li
        Polite and soft-spoken
      %li
        Having lots of ideas
      %li
        Sensitive
      %li
        Active mind
      %li
        Hesitating
      %li
        Tends to delay
      %li
        Choosy and always wants the best
      %li
        Temperamental
      %li
        Funny and humorous
      %li
        Loves to joke
      %li
        Good debating skills
      %li
        Talkative
      %li
        Daydreamer
      %li
        Friendly
      %li
        Knows how to make friends
      %li
        Abiding
      %li
        Able to show character
      %li
        Easily hurt
      %li
        Prone to getting colds
      %li
        Loves to dress up
      %li
        Easily bored
      %li
        Fussy
      %li
        Seldom shows emotions
      %li
        Takes time to recover when hurt
      %li
        Brand conscious
      %li
        Executive
      %li
        Stubborn

%hr/

.row
  .span4
    %h3 july
    %ul
      %li
        Fun to be with
      %li
        Secretive
      %li
        Difficult to fathom and to be understood
      %li
        Quiet unless excited or tensed
      %li
        Takes pride in oneself
      %li
        Has reputation
      %li
        Easily consoled
      %li
        Honest
      %li
        Concerned about people's feelings
      %li
        Tactful
      %li
        Friendly
      %li
        Approachable
      %li
        Emotional
      %li
        Temperamental and unpredictable
      %li
        Moody and easily hurt
      %li
        Witty and sparkly
      %li
        Not revengeful
      %li
        Forgiving but never forgets
      %li
        Dislikes nonsensical and unnecessary things
      %li
        Guides others physically and mentally
      %li
        Sensitive and forms impressions carefully
      %li
        Caring and loving
      %li
        Treats others equally
      %li
        Strong sense of sympathy
      %li
        Wary and sharp
      %li
        Judges people through observations
      %li
        Hardworking
      %li
        No difficulties in studying
      %li
        Loves to be alone
      %li
        Always broods about the past and old friends
      %li
        Likes to be quiet
      %li
        Homely person
      %li
        Waits for friends
      %li
        Never looks for friends
      %li
        Not aggressive unless provoked
      %li
        Prone to having stomach and dieting problems
      %li
        Loves to be loved
      %li
        Easily hurt but takes long to recover

  .span4
    %h3 august
    %ul
      %li
        Loves to joke
      %li
        Attractive
      %li
        Suave and caring
      %li
        Brave and fearless
      %li
        Firm and has leadership qualities
      %li
        Knows how to console others
      %li
        Too generous and egotistic
      %li
        Takes high pride of oneself
      %li
        Thirsty for praises
      %li
        Extraordinary spirit
      %li
        Easily angered
      %li
        Angry when provoked
      %li
        Easily jealous
      %li
        Observant
      %li
        Careful and cautious
      %li
        Thinks quickly
      %li
        Independent thoughts
      %li
        Loves to lead and to be led
      %li
        Loves to dream
      %li
        Talented in the arts, music and defense
      %li
        Sensitive but not petty
      %li
        Poor resistance against illnesses
      %li
        Learns to relax
      %li
        Hasty and rusty
      %li
        Romantic
      %li
        Loving and caring
      %li
        Loves to make friends

  .span4
    %h3 september
    %ul
      %li
        Suave and compromising
      %li
        Careful, cautious, and organized
      %li
        Likes to point out people's mistakes
      %li
        Likes to criticize
      %li
        Quiet but able to talk well
      %li
        Calm and cool
      %li
        Kind and sympathetic
      %li
        Concerned and detailed
      %li
        Trustworthy, loyal, and honest
      %li
        Does work well
      %li
        Very confident
      %li
        Sensitive
      %li
        Thinking generous
      %li
        Good memory
      %li
        Clever and knowledgable
      %li
        Loves to look for information
      %li
        Must control oneself when criticizing
      %li
        Able to motivate oneself
      %li
        Understanding
      %li
        Fun to be around
      %li
        Secretive
      %li
        Loves sports, leisure, and traveling
      %li
        Hardly shows emotions
      %li
        Tends to bottle up feelings
      %li
        Choosy especially in relationships
      %li
        Loves wide things
      %li
        Systematic

%hr/

.row
  .span4
    %h3 october
    %ul
      %li
        Loves to chat
      %li
        Loves those who love him
      %li
        Loves to take things at the center
      %li
        Attractive and suave
      %li
        Inner and physical beauty
      %li
        Does not lie or pretend
      %li
        Sympathetic
      %li
        Treats friends importantly
      %li
        Always making friends
      %li
        Easily hurt but recovers easily
      %li
        Daydreamer
      %li
        Opinionated
      %li
        Does not care of what others think
      %li
        Emotional
      %li
        Decisive
      %li
        Strong clairvoyance
      %li
        Loves to travel, the arts, and literature
      %li
        Soft-spoken, loving, and caring
      %li
        Romantic
      %li
        Touchy and easily jealous
      %li
        Concerned
      %li
        Loves outdoors
      %li
        Just and fair
      %li
        Spendthrift and easily influenced
      %li
        Easily lose confidence
      %li
        Loves children

  .span4
    %h3 november
    %ul
      %li
        Has a lot of ideas
      %li
        Difficult to fathom
      %li
        Thinks forward
      %li
        Unique and brilliant
      %li
        Extraordinary ideas
      %li
        Sharp thinking
      %li
        Fine and strong clairvoyance
      %li
        Can become good doctors
      %li
        Dynamic in personality
      %li
        Secretive
      %li
        Inquisitive
      %li
        Knows how to dig secrets
      %li
        Always thinking
      %li
        Less talkative but amiable
      %li
        Brave and generous
      %li
        Patient
      %li
        Stubborn and hard-hearted
      %li
        If there is a will, there is a way
      %li
        Determined
      %li
        Never give up
      %li
        Hardly becomes angry unless provoked
      %li
        Loves to be alone
      %li
        Thinks differently from others
      %li
        Sharp-minded
      %li
        Motivates oneself
      %li
        Does not appreciate praise
      %li
        High-spirited
      %li
        Well-built and tough
      %li
        Deep love and emotions
      %li
        Romantic
      %li
        Uncertain in relationships
      %li
        Homely
      %li
        Hardworking
      %li
        High abiliities
      %li
        Trustworthy
      %li
        Honest and keeps secrets
      %li
        Not able to control emotions
      %li
        Unpredictable

  .span4
    %h3 december
    %ul
      %li
        Loyal and generous
      %li
        Patriotic
      %li
        Active in games and interactions
      %li
        Impatient and hasty
      %li
        Ambitious
      %li
        Influential in organizations
      %li
        Fun to be with
      %li
        Loves to socialize
      %li
        Loves praises
      %li
        Loves attention
      %li
        Loves to be loved
      %li
        Honest and trustworthy
      %li
        Not pretending
      %li
        Short tempered
      %li
        Changing personality
      %li
        Not egotistic
      %li
        Takes high pride in oneself
      %li
        Hates restrictions
      %li
        Loves to joke
      %li
        Good sense of humor
      %li
        Logical