%h2 what to say when you're caught sleeping at work
%ul
  %li
    They told me at the blood bank that this might happen.
  %li
    This is just a 15 minute power nap like they raved about in that time management course you sent me to.
  %li
    I was working smarter - not harder.
  %li
    Whew! I must have left the top off the whiteout.
  %li
    I wasn't sleeping! I was meditating on the mission statement and envisioning a new paradigm!
  %li
    This is one of the seven habits of highly effective people!
  %li
    I was testing the keyboard for drool resistance.
  %li
    I'm in the management training program.
  %li
    I'm actually doing a Stress Level Elimination Exercise Plan (SLEEP). I learned at the last mandatory seminar you made me attend.
  %li
    This is in exchange for the six hours last night when I dreamed about work!
  %li
    I was doing a highly specific Yoga exercise to relieve work related stress. Do you discriminate against people who practice Yoga?
  %li
    Damn! Why did you interrupt me? I had almost figured out a solution to our biggest problem.
  %li
    The coffee machine is broken....
  %li
    Someone must have put decaf in the wrong pot.
  %li
    Boy, that cold medicine I took last night just won't wear off.
  %li
    Ah, the unique and unpredictable circadian rhythms of the workaholic!
  %li
    I wasn't sleeping. I was trying to pick up my contact lens without my hands.
  %li
    The mail courier flipped out and pulled a gun so I was playing dead to avoid getting shot.
  %li
    Geez, I thought you (the boss) were gone for the day.