%h1 how to spot a raver
%ul
  %li
    You can perfectly understand and have amazing conversations with anyone under the age of ten.
  %li
    You know where all the best toy stores are.
  %li
    You get the most mileage out of your shoes. The toes and heels always curl up because they're so worn down.
  %li
    You have to hike up your pants when it rains so your pants don't get waterlogged and become heavier than you are and you can't walk.
  %li
    You always consider every new place you go to as a possible location for a party.
  %li
    You hug EVERYONE.
  %li
    You can be found dancing everywhere EXCEPT the main dance floor.
  %li
    You understand the art of the bathroom conversation.
  %li
    You have sleeping patterns that will kill a normal person.
  %li
    You choose their clothes by texture, color, and size.
  %li
    The opening on your pant leg is bigger than your head.
  %li
    You always order water when you go out to clubs.
  %li
    You always know the most likely spot to find other ravers within a one-hundred foot radius.
  %li
    You can't see your shoes.
  %li
    You don't bother planning to meet your friends ahead of time; your friends are always already there.
  %li
    You can instantly fall into blissful sleep on a cold wet concrete floor surrounded by 300 off the wall kids and pounding trance being played overhead.
  %li
    You give the best hugs and massages.
  %li
    You have a one track mind. It goes "thump thump tweet thump tweet thump".
  %li
    You constantly point out the trippy visuals in everyday life.
  %li
    You helped Adidas through the "lean" years.
  %li
    You never know the name of your favorite tracks.
  %li
    You know how to SMILE.
  %li
    You are good at playing "guess what he's on".
  %li
    You define the style of music you listen to as "good".
  %li
    You know what to do with a dead glowstick.
