%h2 female sofa
%p A 500lb. woman from Illinois was examined in a hospital. During the examination, an asthma inhaler fell from under her armpit, a dime was found under one of her breasts and a remote control was found lodged between the folds of her vulva.

%h2 prickly pair ouch!
%p In Michigan, a man came into the ER with lacerations to his penis. He complained that his wife had "...a rat in her privates..." and it bit him during sex (not the first conclusion I would have drawn I don't think). After an examination of his wife, it was revealed that she had a surgical needle left inside her after a recent hysterectomy.

%h2 ping pong anyone?
%p A 20 year old man came into the ER with a stony mass in his rectum. He said that he and his boyfriend were fooling around with concrete mix, then his boyfriend had the idea of pouring the mix into his anus using a funnel (as you do)?!!. The concrete then hardened (no s%^t!), causing constipation and pain. Under general anesthesia, a perfect concrete cast of the man's rectum was removed along with a ping pong ball. (Boy we live sheltered lives - thank goodness)

%h2 blind drunk
%p A drunk staggered into a Pennsylvania ER complaining of severe pain while trying to remove his contact lenses. He said that they would come out halfway, but they always popped back in. A nurse tried to help using a suction pump, but without success. Finally, a doctor examined him and discovered the man did not have his contact lenses in at all. He had been trying to rip out the membrane of his cornea.

%h2 ouch and double ouch
%p A couple hobbled into a Washington State emergency room covered in bloody restaurant towels. The man had his hands around his abdomen and the woman had hers around her head. They eventually explained to doctors that they had gone out that evening for a romantic dinner. Overcome with passion, the woman crept under the table to administer oral sex to the man (Classy or what??). While in the act, she had an epileptic fit, which caused her to clamp down on the man's penis and wrench it from side to side. In agony and desperation, the man grabbed a fork and stabbed her in the head until she let go.

%h2 And you thought YOU were having a bad day!!!!