%h2 what women really mean
%dl
  %dt
    fine
  %dd
    This is the word women use to end an argument when they feel they are right and you need to shut up. Never use "fine" to describe how a woman looks-this will cause you to have one of those arguments.
  %dt
    five minutes
  %dd
    This is half an hour. It is equivalent to the five minutes that your football game is going to last before you take out the trash, so it's an even trade.
  %dt
    nothing
  %dd
    This means "something," and you should be on your toes. "Nothing" is usually used to describe the feeling a woman has of wanting to turn you inside out, upside down, and backwards. "Nothing" usually signifies an argument that will last Five Minutes and end with Fine.
  %dt
    go ahead (with raised eyebrows)
  %dd
    This is a dare. One that will result in a woman getting upset over Nothing and will end with the word Fine.
  %dt
    go ahead (normal eyebrows)
  %dd
    This means "I give up" or "do what you want because I don't care" You will get a Raised Eyebrow Go Ahead in just a few minutes, followed by Nothing and Fine and she will talk to you in about Five Minutes when she cools off.
  %dt
    loud sigh
  %dd
    This is not actually a word, but is a nonverbal statement often misunderstood by men. A Loud Sigh means she thinks you are an idiot at that moment, and wonders why she is wasting her time standing here and arguing with you over Nothing.
  %dt
    soft sigh
  %dd
    Again, not a word, but a nonverbal statement. Soft Sighs mean that she is content. Your best bet is to not move or breathe, and she will stay content.
  %dt
    that's okay
  %dd
    This is one of the most dangerous statements that a woman can make to a man. That's Okay means that she wants to think long and hard before paying you back for whatever it is that you have done. That's Okay is often used with the word Fine and in conjunction with a Raised Eyebrow.
  %dt
    go ahead
  %dd
    At some point in the near future, you are going to be in some mighty big trouble.
  %dt
    please do
  %dd
    This is not a statement, it is an offer. A woman is giving you the chance to come up with whatever excuse or reason you have for doing whatever it is that you have done. You have a fair chance with the truth, so be careful and you shouldn't get a That's Okay.
  %dt
    thanks
  %dd
    A woman is thanking you. Do not faint. Just say you're welcome.
  %dt
    thanks a lot
  %dd
    This goes much deeper than Thanks. A woman will say, Thanks A Lot when she is really ticked off at you. It signifies that you have offended her in some callous way, and will be followed by the Loud Sigh. Be careful not to ask what is wrong after the Loud Sigh, as she will only tell you Nothing.
